[submodule "third_party/vorbis"]
	path = third_party/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
	branch = v1.3.7
[submodule "third_party/ogg"]
	path = third_party/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
	branch = v1.3.5
